html, body
    height: 100%
    width: 100%
body
    font-family: $helvetica
    font-weight: 400
    background: #fff
    color: #444
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
a
    text-decoration: none
    color: inherit
    .card-header
        color: #3090c7
        transition: 80ms all ease-in-out
        &:hover
            color: #0000ee
.cards
    +outer-container
    margin-top: 10px
h1.title
    font-family: "Open Sans"
    text-align: center
