.logo
    display: flex
    justify-content: space-around
    margin-bottom: 35px

.htmlLogo, .cssLogo, .jsLogo, .angularLogo, .mongoLogo, .nodeLogo
    display: flex
    align-items: center
    background: #f1f1f1
    box-shadow: 0 0 1px #f0f0f0, 0 0 2px #a0a0a0
    padding: 5px
