$mobile: new-breakpoint(max-width 600px)
section
    display: flex
    align-items: center
    width: 100%
    margin-bottom: 20px
    padding: 2%
    // border-right: 2px solid transparentize($blue, .3)
    background: transparentize(#999, .8)
    @include outer-container
    @include media($mobile)
        display: initial
        border: none
        background: none
        p
            padding: 0 3%
            text-align: justify
.aboutImg
    height: 275px
    margin: 10px 0
    @include span-columns(4)
    @include media($mobile)
        height: 275px
        @include span-columns(12)
    img
        margin: 0 2%
        width: 340px
        height: 275px
        @include media($mobile)
            @include span-columns(12)
            margin: 5px 0


aside
    @include span-columns(8)
    @include media($mobile)
        @include span-columns(12)
a.devMountainLink
    color: blue
