.project
    @include outer-container
    margin: 25px auto
    // background: saturate(lighten($blue, 40%), 20%)
    padding: 2%
    p
        border-left: 2px solid transparentize($blue, .3)
        padding-left: 15px

h2
    padding-left: 16px
    font-family: "Open Sans"
