
<div class="logo">
  <div class="htmlLogo"><img ng-src="assets/images/html.png"/></div>
  <div class="cssLogo"><img ng-src="assets/images/css.jpg"/></div>
  <div class="jsLogo"><img ng-src="assets/images/js.png"/></div>
  <div class="angularLogo"> <img ng-src="assets/images/angularjs-small.png"/></div>
  <div class="mongoLogo"><img ng-src="assets/images/mongoLogoSm.png"/></div>
  <div class="nodeLogo"><img ng-src="assets/images/nodejs.png"/></div>
</div>
<div class="headshotWrapper">
  <div class="headshot"> <img ng-src="assets/images/headshot.jpg" class="headshotImage"/></div>
</div>