.logo
    .htmlLogo
        img(ng-src='assets/images/html.png')
    .cssLogo
        img(ng-src='assets/images/css.jpg')
    .jsLogo
        img(ng-src='assets/images/js.png')
    .angularLogo 
        img(ng-src='assets/images/angularjs-small.png')
    .mongoLogo
        img(ng-src='assets/images/mongoLogoSm.png')
    .nodeLogo
        img(ng-src='assets/images/nodejs.png')
.headshotWrapper
    .headshot 
        img.headshotImage(ng-src='assets/images/headshot.jpg')
