doctype html
html
    head
        title Shawn Chambless
        link(href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css' rel='stylesheet')
        link(href='styles/main.css' rel='stylesheet')
    body(ng-app='personalSite' ng-controller='homeCtrl')
        header.navigation(role='banner')
          .navigation-wrapper
            a#js-mobile-menu.navigation-menu-button(ng-href='javascript:void(0)') MENU
            nav(role='navigation')
              ul#js-navigation-menu.navigation-menu.show
                li.nav-link
                  a(ng-href='/#/about') About
                li.nav-link.more
                    a(ng-href='javascript:void(0)') Contact
                    ul.submenu
                        li.contact
                            a(ng-href='mailto:shawn.chambless@gmail.com') shawn.chambless@gmail.com
                        li.contact
                            a(ng-href='tel:+1-229-456-5234') (229)-456-5234
                li.nav-link.more
                  a(ng-href='javascript:void(0)') More
                  ul.submenu
                    li
                      a(ng-href='https://github.com/ShawnChambless' target='_blank')
                          img.logo(ng-src='assets/images/octocat.png')
                    li
                      a(ng-href='https://twitter.com/ShawnChambless' target='_blank')
                          img.logo(ng-src='assets/images/twitterSmall.png')
                    li
                        a(ng-href='https://www.linkedin.com/in/shawnchambless' target='_blank')
                            img.logo(ng-src='assets/images/linkedinSmall.png')
        //- nav
        //-     .navHeadshot
        //-         img(ng-src='assets/images/headshot.jpg')
        //-     .navBtns
        //-         a(ng-href='/#/home') home
        //-         a(ng-href='/#/about') about
        //-         a(ng-href='/#/projects') projects
             
        ng-view
    
        
        script(src='bower_components/angular/angular.js')
        script(src='bower_components/angular-route/angular-route.js')
        script(src='https://code.jquery.com/jquery-2.1.4.min.js')
        script(src='app/functions.js')
        script(src='app/app.js')
        script(src='app/main/mainService.js')
        script(src='app/main/mainCtrl.js')
        script(src='app/home/homeCtrl.js')
