nav
    height: 50px
    .navbar
        display: flex
        justify-content: space-around
        align-items: center
        height: 100%
.navHeadshot
    width: 10%
    img
        height: 40px
        border-radius: 50%
        margin: 0 50% 0 0
.page
    color: #fff
    font-size: 2em
    width: 20%
    margin: 0 20% 0 0
.navBtns
    width: 30%
    a
        margin: 0 10px
        padding: 10px
