.hero
    .hero-inner
        img.hero-logo(ng-src='assets/images/headshot.jpg', alt='Logo Image')
        .hero-copy
            h1 Shawn Chambless
.cards
    .card
        .card-image
            a(ng-href='https://github.com/ShawnChambless/shawnchambless.com' target='_blank')
                img(ng-src='assets/images/shawnchambless-min.png', alt='shawnchambless.com')
        .card-header shawnchambless.com
        .card-copy
            p The GitHub repository for shawnchambless.com.
    .card
        .card-image
            a(ng-href='http://grainbilld.com' target='_blank')
                img(ng-src='assets/images/grainbilld-min.png', alt='grainbilld.com')
        .card-header grainbilld.com
        .card-copy
            p A beer brewing application designed to be the one-stop shop for brewers.
    .card
        .card-image
            a(ng-href='#/projects')
                img(ng-src='assets/images/devmtn-min.png', alt='devmounta.in')
        .card-header devmounta.in/resources
        .card-copy
            p A resource aggregation and request app built for DevMountain.
