.hero
    .hero-inner
        a.hero-logo(href='/#/')
            img(ng-src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png', alt='Logo Image')
        .hero-copy
            h1 Short description of Product
            p A few reasons why this product is worth using, who it's for and why they need it.
.cards
    .card
        .card-image
            img(ng-src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png', alt='asdf')
        .card-header First Card
        .card-copy
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
    .card
        .card-image
            img(ng-src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png', alt='asdf')
        .card-header Another Card
        .card-copy
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
    .card
        .card-image
            img(ng-src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png', alt='asdfasd')
        .card-header The Last Card
        .card-copy
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
