html, body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0; }

body {
  font-family: "Helvetica Nue", Helvetica, Arial, sans-serif;
  background: #606060;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

ng-view {
  margin: -1px; }

a {
  text-decoration: none;
  color: inherit; }

nav {
  height: 50px; }
  nav .navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%; }

.navHeadshot {
  width: 10%; }
  .navHeadshot img {
    height: 40px;
    border-radius: 50%;
    margin: 0 50% 0 0; }

.page {
  color: #fff;
  font-size: 2em;
  width: 20%;
  margin: 0 20% 0 0; }

.navBtns {
  width: 30%; }
  .navBtns a {
    margin: 0 10px;
    padding: 10px; }

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-bottom: 35px; }

.htmlLogo, .cssLogo, .jsLogo, .angularLogo, .mongoLogo, .nodeLogo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f1f1f1;
  box-shadow: 0 0 1px #f0f0f0, 0 0 2px #a0a0a0;
  padding: 5px; }

.headshotWrapper {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.headshot {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 100%; }
  .headshot .headshotImage {
    height: 300px;
    border-radius: 50%; }
